* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #548587;
  min-width: 500px;
  color: white;
}

h1 {
  margin-top: 2rem;
}

.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 10px 5px rgb(0, 0, 0,0.2);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffff95;
  cursor: pointer;
}

#reset-btn {
  padding: 0.7rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#new-btn {
  padding: 0.7rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#msg {
  font-size: 2rem;
  color: white;
}


.msg-container {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: all ease 0.3s;
}

.hide {
  display: none;
}